In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
fema_claims_xl = pd.ExcelFile("Data/Yearly Paid Claims_FEMA.xlsx")
fema_funding_xl = pd.ExcelFile("Data/Yearly FEMA funding.xlsx")
disasterinci = pd.ExcelFile("Data/FEMA_Disaster incidents.xlsx")
precip_df = pd.read_csv("Data/heavy_precip.csv")
temp_data = pd.read_csv("Temperature Anomolies/Resources/Temperature_fig-1.csv")
disasterdec = pd.ExcelFile("Data/FEMA_Disaster Declarations.xlsx")

In [3]:
#The total number of claims closed with payment for the given year.
#The total dollar amount paid (in billions) on closed claims for the given year.
nfip_pd = fema_claims_xl.parse("NFIP")
nfip_df = nfip_pd.groupby(["Year"]).sum()
nfip_df.reset_index(level=0, inplace=True)
#nfip = nfip_df[(nfip_df["Year"] >= 1996) & (nfip_df["Year"] <= 2015)]
nfip = nfip_df.rename(columns = {'NumberOfClaimsClosedWithPayment':'Number of Claims Closed'})
nfip = nfip.rename(columns = {'TotalPaid':'Total Paid on Closed Claims'})
nfip['Total Paid on Closed Claims'] = nfip['Total Paid on Closed Claims']/1000000000
nfip.head()

     Year  Number of Claims Closed  Total Paid on Closed Claims
0  1996.0                  46849.0                     0.635417
1  1997.0                  27063.0                     0.414132
2  1998.0                  52074.0                     0.706868
3  1999.0                  43385.0                     0.563194
4  2000.0                  14718.0                     0.180638

In [4]:
#The number of Flooding Episdoes for the Year.
noaa_df = fema_claims_xl.parse("NOAA")
noaa_pd = noaa_df.groupby(["Year"]).sum()
noaa_pd.pop("Lat")
noaa_pd.pop("Lon")
noaa = noaa_pd.rename(columns = {'NumEpisodes':'Flooding Episodes'})
noaa.reset_index(level=0, inplace=True)
noaa.head()

     Year  Flooding Episodes
0  1996.0               5633
1  1997.0               4658
2  1998.0               5461
3  1999.0               3873
4  2000.0               3536

In [5]:
#FEMA Funding in billions of Real 2010 Dollars
fema_funding = fema_funding_xl.parse("Data Source-CRS Report")
fema_funding.head()

,Year,Administration Request,Enacted Appropriation,Emergency Supplemental,Total Enacted
0,2000,3.521,3.521,0.000,3.521
1,2001,3.584,1.964,0.000,1.964
2,2002,1.660,0.805,0.000,0.805
3,2003,2.185,0.948,1.690,2.638
4,2004,2.258,2.078,2.555,4.633

In [6]:
#Extreme One-Day Precipitation Events:  
#percentage of the land area of the contiguous 48 states where a much greater than normal portion 
#of total annual precipitation has come from extreme single-day precipitation events.
precip = precip_df[(precip_df['Year'] >= 1996) & (precip_df['Year'] <= 2015)]
precip.pop("9-year moving average")
precip.head()

    Year  Index value
86  1996        0.203
87  1997        0.112
88  1998        0.206
89  1999        0.153
90  2000        0.092

In [7]:
#Number of disaster incidents by year
d_incidents = disasterinci.parse("FEMA Declarations")
dis_inci = d_incidents[["Year", "Incident Type"]]
incidents_count = dis_inci.groupby(["Year"]).count()
incidents_count.reset_index(level=0, inplace=True)
incidents_count = incidents_count.rename(columns = {"Incident Type":'Number of Disasters Incidents'})
incidents_count.head()

   Year  Number of Disasters Incidents
0  1953                             13
1  1954                             17
2  1955                             18
3  1956                             16
4  1957                             16

In [8]:
#Temperature data: annual average temperatures in the contiguous 48 states have changed since 1901
bins = [1890, 1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020]
decades = [1900,1910,1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020]
temp_data["Decade"] = pd.cut(temp_data["Year"], bins, labels=decades)
temp_data = temp_data[["Year", "Earth's surface"]]
temp_data = temp_data.rename(columns = {"Earth's surface":'Temperature anomaly'})
temp_data.head()

   Year  Temperature anomaly
0  1901                -0.15
1  1902                -0.43
2  1903                -1.40
3  1904                -0.86
4  1905                -1.02

In [9]:
temp_1996_2015_data = temp_data[(temp_data["Year"] >= 1996) & (temp_data["Year"] <= 2015)]
temp_1996_2015_data

     Year  Temperature anomaly
95   1996                -0.13
96   1997                 0.18
97   1998                 2.21
98   1999                 1.86
99   2000                 1.25
100  2001                 1.68
101  2002                 1.19
102  2003                 1.24
103  2004                 1.08
104  2005                 1.62
105  2006                 2.23
106  2007                 1.63
107  2008                 0.27
108  2009                 0.37
109  2010                 0.96
110  2011                 1.16
111  2012                 3.26
112  2013                 0.41
113  2014                 0.52
114  2015                 2.38

In [10]:
#Number of disaster declarations per year
fema_declarations = disasterdec.parse("FEMA Declarations")
fema_declarations['year'] = fema_declarations['Declaration Date'].dt.year
declaration_year = fema_declarations.groupby(["year"]).count()
declaration_year.reset_index(level=0, inplace=True)
disaster_declaration = declaration_year[["year", "Incident Type"]]
disaster_declaration = disaster_declaration.rename(columns = {"Incident Type":'Number of Disaster Declarations'})
disaster_declaration.head()

   year  Number of Disaster Declarations
0  1953                               13
1  1954                               17
2  1955                               18
3  1956                               16
4  1957                               16

In [11]:
incident_types = fema_declarations["Incident Type"].value_counts()
incident_types

Severe Storm(s)     15963
Hurricane            9727
Flood                9496
Snow                 3620
Fire                 2656
Severe Ice Storm     1990
Tornado              1430
Drought              1292
Coastal Storm         462
Freezing              301
Other                 297
Typhoon               119
Earthquake            105
Volcano                50
Fishing Losses         42
Mud/Landslide          10
Toxic Substances        9
Chemical                9
Tsunami                 9
Dam/Levee Break         6
Human Cause             6
Terrorist               5
Name: Incident Type, dtype: int64

In [12]:
incident_types = pd.DataFrame(incident_types)
incident_types = incident_types.rename(columns = {"" : "Disaster Type", "Incident Type": "Number of Disasters"})
incident_types
#Would like to add a column name to the first column.

                  Number of Disasters
Severe Storm(s)                 15963
Hurricane                        9727
Flood                            9496
Snow                             3620
Fire                             2656
Severe Ice Storm                 1990
Tornado                          1430
Drought                          1292
Coastal Storm                     462
Freezing                          301
Other                             297
Typhoon                           119
Earthquake                        105
Volcano                            50
Fishing Losses                     42
Mud/Landslide                      10
Toxic Substances                    9
Chemical                            9
Tsunami                             9
Dam/Levee Break                     6
Human Cause                         6
Terrorist                           5

In [13]:
fema_declarations_1996_2015 = fema_declarations[(fema_declarations['year'] >= 1996) & (fema_declarations['year'] <= 2015)]
fema_declarations_1996_2015

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Disaster Close Out Date,Place Code,Declared County/Area,year
2661,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99003.0,Alfalfa (County),2015
2662,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99009.0,Beckham (County),2015
2663,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99011.0,Blaine (County),2015
2664,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99013.0,Bryan (County),2015
2665,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99015.0,Caddo (County),2015
2666,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99017.0,Canadian (County),2015
2667,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99039.0,Custer (County),2015
2668,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99043.0,Dewey (County),2015
2669,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99045.0,Ellis (County),2015
2670,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99047.0,Garfield (County),2015
2671,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99051.0,Grady (County),2015
2672,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99053.0,Grant (County),2015
2673,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99055.0,Greer (County),2015
2674,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99073.0,Kingfisher (County),2015
2675,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99075.0,Kiowa (County),2015
2676,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99083.0,Logan (County),2015
2677,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99093.0,Major (County),2015
2678,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99109.0,Oklahoma (County),2015
2679,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99129.0,Roger Mills (County),2015
2680,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99149.0,Washita (County),2015
2681,4247,No,No,Yes,Yes,OK,2015-12-29 18:00:00,DR,Severe Ice Storm,SEVERE WINTER STORMS AND FLOODING,2015-11-27 00:00:00,2015-11-29 00:00:00,NaT,99151.0,Woods (County),2015
2682,4246,No,No,Yes,Yes,ID,2015-12-23 09:11:00,DR,Severe Storm(s),SEVERE STORM AND STRAIGHT-LINE WIND,2015-11-17 00:01:00,2015-11-17 23:59:00,NaT,16840.0,Coeur d'Alene Indian Reservation,2015
2683,4246,No,No,Yes,Yes,ID,2015-12-23 09:11:00,DR,Severe Storm(s),SEVERE STORM AND STRAIGHT-LINE WIND,2015-11-17 00:01:00,2015-11-17 23:59:00,NaT,99009.0,Benewah (County),2015
2684,4246,No,No,Yes,Yes,ID,2015-12-23 09:11:00,DR,Severe Storm(s),SEVERE STORM AND STRAIGHT-LINE WIND,2015-11-17 00:01:00,2015-11-17 23:59:00,NaT,99017.0,Bonner (County),2015
2685,4246,No,No,Yes,Yes,ID,2015-12-23 09:11:00,DR,Severe Storm(s),SEVERE STORM AND STRAIGHT-LINE WIND,2015-11-17 00:01:00,2015-11-17 23:59:00,NaT,99021.0,Boundary (County),2015
2686,4246,No,No,Yes,Yes,ID,2015-12-23 09:11:00,DR,Severe Storm(s),SEVERE STORM AND STRAIGHT-LINE WIND,2015-11-17 00:01:00,2015-11-17 23:59:00,NaT,99055.0,Kootenai (County),2015
2687,4245,Yes,No,Yes,Yes,TX,2015-11-25 11:00:00,DR,Severe Storm(s),"SEVERE STORMS, TORNADOES, STRAIGHT-LINE WINDS,...",2015-10-22 00:00:00,2015-10-31 00:00:00,NaT,99021.0,Bastrop (County),2015
2688,4245,Yes,No,Yes,Yes,TX,2015-11-25 11:00:00,DR,Severe Storm(s),"SEVERE STORMS, TORNADOES, STRAIGHT-LINE WINDS,...",2015-10-22 00:00:00,2015-10-31 00:00:00,NaT,99035.0,Bosque (County),2015
2689,4245,Yes,No,Yes,Yes,TX,2015-11-25 11:00:00,DR,Severe Storm(s),"SEVERE STORMS, TORNADOES, STRAIGHT-LINE WINDS,...",2015-10-22 00:00:00,2015-10-31 00:00:00,NaT,99039.0,Brazoria (County),2015
2690,4245,Yes,No,Yes,Yes,TX,2015-11-25 11:00:00,DR,Severe Storm(s),"SEVERE STORMS, TORNADOES, STRAIGHT-LINE WINDS,...",2015-10-22 00:00:00,2015-10-31 00:00:00,NaT,99055.0,Caldwell (County),2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33584,1075,No,No,Yes,Yes,SD,1996-01-05 00:00:00,DR,Snow,SEVERE WINTER STORM,1995-10-22 00:00:00,1995-10-24 00:00:00,2001-07-16,99123.0,Tripp (County),1996
33585,1078,No,No,Yes,Yes,MN,1996-01-05 00:00:00,DR,Snow,"HIGH WINDS, FREEZING RAIN, HEAVY SNOWFALL",1995-10-23 00:00:00,1995-10-24 00:00:00,1999-12-06,99011.0,Big Stone (County),1996
33586,1078,No,No,Yes,Yes,MN,1996-01-05 00:00:00,DR,Snow,"HIGH WINDS, FREEZING RAIN, HEAVY SNOWFALL",1995-10-23 00:00:00,1995-10-24 00:00:00,1999-12-06,99149.0,Stevens (County),1996
33587,1078,No,No,Yes,Yes,MN,1996-01-05 00:00:00,DR,Snow,"HIGH WINDS, FREEZING RAIN, HEAVY SNOWFALL",1995-10-23 00:00:00,1995-10-24 00:00:00,1999-12-06,99151.0,Swift (County),1996
33588,1078,No,No,Yes,Yes,MN,1996-01-05 00:00:00,DR,Snow,"HIGH WINDS, FREEZING RAIN, HEAVY SNOWFALL",1995-10-23 00:00:00,1995-10-24 00:00:00,1999-12-06,99155.0,Traverse (County),1996
33589,1077,No,No,Yes,Yes,NH,1996-01-03 00:00:00,DR,Flood,"EXCESSIVE RAINFALL, HIGH WINDS, AND FLOODING",1995-10-20 00:00:00,1995-11-15 00:00:00,2004-09-28,99003.0,Carroll (County),1996
33590,1077,No,No,Yes,Yes,NH,1996-01-03 00:00:00,DR,Flood,"EXCESSIVE RAINFALL, HIGH WINDS, AND FLOODING",1995-10-20 00:00:00,1995-11-15 00:00:00,2004-09-28,99005.0,Cheshire (County),1996
33591,1077,No,No,Yes,Yes,NH,1996-01-03 00:00:00,DR,Flood,"EXCESSIVE RAINFALL, HIGH WINDS, AND FLOODING",1995-10-20 00:00:00,1995-11-15 00:00:00,2004-09-28,99007.0,Coos (County),1996
33592,1077,No,No,Yes,Yes,NH,1996-01-03 00:00:00,DR,Flood,"EXCESSIVE RAINFALL, HIGH WINDS, AND FLOODING",1995-10-20 00:00:00,1995-11-15 00:00:00,2004-09-28,99009.0,Grafton (County),1996
33593,1077,No,No,Yes,Yes,NH,1996-01-03 00:00:00,DR,Flood,"EXCESSIVE RAINFALL, HIGH WINDS, AND FLOODING",1995-10-20 00:00:00,1995-11-15 00:00:00,2004-09-28,99013.0,Merrimack (County),1996
33594,1077,No,No,Yes,Yes,NH,1996-01-03 00:00:00,DR,Flood,"EXCESSIVE RAINFALL, HIGH WINDS, AND FLOODING",1995-10-20 00:00:00,1995-11-15 00:00:00,2004-09-28,99019.0,Sullivan (County),1996
33595,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99007.0,Chelan (County),1996
33596,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99009.0,Clallam (County),1996
33597,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99011.0,Clark (County),1996
33598,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99015.0,Cowlitz (County),1996
33599,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99027.0,Grays Harbor (County),1996
33600,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99029.0,Island (County),1996
33601,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99031.0,Jefferson (County),1996
33602,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99033.0,King (County),1996
33603,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99037.0,Kittitas (County),1996
33604,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99041.0,Lewis (County),1996
33605,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99045.0,Mason (County),1996
33606,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99049.0,Pacific (County),1996
33607,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99053.0,Pierce (County),1996
33608,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99057.0,Skagit (County),1996
33609,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99061.0,Snohomish (County),1996
33610,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99067.0,Thurston (County),1996
33611,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99069.0,Wahkiakum (County),1996
33612,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99073.0,Whatcom (County),1996
33613,1079,No,Yes,Yes,Yes,WA,1996-01-03 00:00:00,DR,Severe Storm(s),"SEVERE STORMS, HIGH WIND, AND FLOODING",1995-11-07 00:00:00,1995-12-18 00:00:00,2004-04-22,99077.0,Yakima (County),1996

In [14]:
incident_types_1996_2015 = fema_declarations_1996_2015["Incident Type"].value_counts()
incident_types_1996_2015

Severe Storm(s)     13225
Hurricane            7660
Fire                 2583
Flood                2509
Snow                 1961
Severe Ice Storm     1820
Coastal Storm         379
Other                 287
Tornado               280
Freezing               85
Earthquake             63
Typhoon                40
Drought                29
Tsunami                 9
Chemical                9
Mud/Landslide           7
Terrorist               5
Dam/Levee Break         1
Volcano                 1
Name: Incident Type, dtype: int64

In [15]:
incident_types_1996_2015 = pd.DataFrame(incident_types_1996_2015)
incident_types_1996_2015

                  Incident Type
Severe Storm(s)           13225
Hurricane                  7660
Fire                       2583
Flood                      2509
Snow                       1961
Severe Ice Storm           1820
Coastal Storm               379
Other                       287
Tornado                     280
Freezing                     85
Earthquake                   63
Typhoon                      40
Drought                      29
Tsunami                       9
Chemical                      9
Mud/Landslide                 7
Terrorist                     5
Dam/Levee Break               1
Volcano                       1