In [1]:
import pandas as pd
import numpy as np

In [2]:
filePath = pd.ExcelFile("Data/FEMA_Disaster incidents.xlsx")

In [3]:
filePath.sheet_names

['Instructions', 'MetaData', 'FEMA Declarations']

In [4]:
df = filePath.parse("FEMA Declarations")
df.head()

,Disaster Number,Year,Region,Region Number,State Abbreviation,State,County,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Disaster Close Out Date
0,3,1953,Region VI,6,LA,Louisiana,Statewide,1953-05-29,DR,Flood,FLOOD,1953-05-29,1953-05-29,1960-02-01
1,1,1953,Region IV,4,GA,Georgia,Statewide,1953-05-02,DR,Tornado,TORNADO,1953-05-02,1953-05-02,1954-06-01
2,4,1953,Region V,5,MI,Michigan,Statewide,1953-06-02,DR,Tornado,TORNADO,1953-06-02,1953-06-02,1956-02-01
3,15,1954,Region IX,9,CA,California,Statewide,1954-02-05,DR,Flood,FLOOD & EROSION,1954-02-05,1954-02-05,1957-09-01
4,25,1954,Region I,1,CT,Connecticut,Statewide,1954-09-17,DR,Hurricane,HURRICANES,1954-09-17,1954-09-17,1957-01-01

In [5]:
df.columns

Index(['Disaster Number', 'Year', 'Region', 'Region Number',
       'State Abbreviation', 'State', 'County', 'Declaration Date',
       'Disaster Type', 'Incident Type', 'Title', 'Incident Begin Date',
       'Incident End Date', 'Disaster Close Out Date'],
      dtype='object')

In [6]:
df.dtypes

Disaster Number                     int64
Year                                int64
Region                             object
Region Number                       int64
State Abbreviation                 object
State                              object
County                             object
Declaration Date           datetime64[ns]
Disaster Type                      object
Incident Type                      object
Title                              object
Incident Begin Date        datetime64[ns]
Incident End Date          datetime64[ns]
Disaster Close Out Date    datetime64[ns]
dtype: object

In [7]:
# dfRange = df[(df['Year'] >= 1996) & (df['Year'] <= 2015)]
# dfRange.head()

In [8]:
#drop NaN
dfClean = df.dropna(how="any")
dfClean.count()

Disaster Number            34879
Year                       34879
Region                     34879
Region Number              34879
State Abbreviation         34879
State                      34879
County                     34879
Declaration Date           34879
Disaster Type              34879
Incident Type              34879
Title                      34879
Incident Begin Date        34879
Incident End Date          34879
Disaster Close Out Date    34879
dtype: int64

In [14]:
#setDesiredTable
dfTable=df[["Year", "Incident Type"]]
dfTable.head()

   Year Incident Type
0  1953         Flood
1  1953       Tornado
2  1953       Tornado
3  1954         Flood
4  1954     Hurricane

In [15]:
#Grouping dataFrame
df_Group = dfTable.groupby(["Year"]).count()
df_Group.head(10)

      Incident Type
Year
1953             13
1954             17
1955             18
1956             16
1957             16
1958              7
1959              7
1960             12
1961             12
1962             22