In [1]:
import pandas as pd
import numpy as np

In [2]:
filePath = pd.ExcelFile("Data/FEMA_Disaster incidents.xlsx")

In [3]:
filePath.sheet_names

['Instructions', 'MetaData', 'FEMA Declarations']

In [4]:
df = filePath.parse("FEMA Declarations")
df.head()

,Disaster Number,Year,Region,Region Number,State Abbreviation,State,County,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Disaster Close Out Date
0,3,1953,Region VI,6,LA,Louisiana,Statewide,1953-05-29,DR,Flood,FLOOD,1953-05-29,1953-05-29,1960-02-01
1,1,1953,Region IV,4,GA,Georgia,Statewide,1953-05-02,DR,Tornado,TORNADO,1953-05-02,1953-05-02,1954-06-01
2,4,1953,Region V,5,MI,Michigan,Statewide,1953-06-02,DR,Tornado,TORNADO,1953-06-02,1953-06-02,1956-02-01
3,15,1954,Region IX,9,CA,California,Statewide,1954-02-05,DR,Flood,FLOOD & EROSION,1954-02-05,1954-02-05,1957-09-01
4,25,1954,Region I,1,CT,Connecticut,Statewide,1954-09-17,DR,Hurricane,HURRICANES,1954-09-17,1954-09-17,1957-01-01

In [5]:
df.columns

Index(['Disaster Number', 'Year', 'Region', 'Region Number',
       'State Abbreviation', 'State', 'County', 'Declaration Date',
       'Disaster Type', 'Incident Type', 'Title', 'Incident Begin Date',
       'Incident End Date', 'Disaster Close Out Date'],
      dtype='object')

In [6]:
df.dtypes

Disaster Number                     int64
Year                                int64
Region                             object
Region Number                       int64
State Abbreviation                 object
State                              object
County                             object
Declaration Date           datetime64[ns]
Disaster Type                      object
Incident Type                      object
Title                              object
Incident Begin Date        datetime64[ns]
Incident End Date          datetime64[ns]
Disaster Close Out Date    datetime64[ns]
dtype: object

In [7]:
# dfRange = df[(df['Year'] >= 1996) & (df['Year'] <= 2015)]
# dfRange.head()

In [8]:
#drop NaN
dfClean = df.dropna(how="any")
dfClean.count()

Disaster Number            34879
Year                       34879
Region                     34879
Region Number              34879
State Abbreviation         34879
State                      34879
County                     34879
Declaration Date           34879
Disaster Type              34879
Incident Type              34879
Title                      34879
Incident Begin Date        34879
Incident End Date          34879
Disaster Close Out Date    34879
dtype: int64

In [10]:
#setDesiredTable
dfTable=df[["Year", "Declaration Date", "State Abbreviation", "Incident Type", "Incident Begin Date", "Incident End Date"]]
dfTable.head()

,Year,Declaration Date,State Abbreviation,Incident Type,Incident Begin Date,Incident End Date
0,1953,1953-05-29,LA,Flood,1953-05-29,1953-05-29
1,1953,1953-05-02,GA,Tornado,1953-05-02,1953-05-02
2,1953,1953-06-02,MI,Tornado,1953-06-02,1953-06-02
3,1954,1954-02-05,CA,Flood,1954-02-05,1954-02-05
4,1954,1954-09-17,CT,Hurricane,1954-09-17,1954-09-17

In [11]:
#Grouping dataFrame
df_Group = dfTable.groupby(["Year"])
df_Group.head(30)

,Year,Declaration Date,State Abbreviation,Incident Type,Incident Begin Date,Incident End Date
0,1953,1953-05-29,LA,Flood,1953-05-29,1953-05-29
1,1953,1953-05-02,GA,Tornado,1953-05-02,1953-05-02
2,1953,1953-06-02,MI,Tornado,1953-06-02,1953-06-02
3,1954,1954-02-05,CA,Flood,1954-02-05,1954-02-05
4,1954,1954-09-17,CT,Hurricane,1954-09-17,1954-09-17
5,1955,1955-06-01,OK,Flood,1955-06-01,1955-06-01
6,1956,1956-04-21,ID,Flood,1956-04-21,1956-04-21
7,1955,1955-08-22,NY,Hurricane,1955-08-22,1955-08-22
8,1956,1956-12-29,CA,Fire,1956-12-29,1956-12-29
9,1957,1957-05-22,MO,Tornado,1957-05-22,1957-05-22
10,1958,1958-06-06,TX,Tornado,1958-06-06,1958-06-06
11,1959,1959-11-09,OK,Flood,1959-11-09,1959-11-09
12,1960,1960-07-22,ID,Fire,1960-07-22,1960-07-22
13,1961,1961-05-27,IL,Flood,1961-05-27,1961-05-27
14,1962,1962-03-09,WV,Flood,1962-03-09,1962-03-09
15,1953,1953-06-09,MI,Tornado,1953-06-09,1953-06-09
16,1954,1954-06-23,IA,Flood,1954-06-23,1954-06-23
17,1954,1954-10-13,NM,Flood,1954-10-13,1954-10-13
18,1955,1955-08-13,NC,Hurricane,1955-08-13,1955-08-13
19,1955,1955-12-23,CA,Flood,1955-12-23,1955-12-23
20,1956,1956-05-17,OH,Other,1956-05-17,1956-05-17
21,1957,1957-01-31,WV,Flood,1957-01-31,1957-01-31
22,1957,1957-05-29,AR,Tornado,1957-05-29,1957-05-29
23,1958,1958-10-01,NC,Hurricane,1958-10-01,1958-10-01
24,1960,1960-03-23,FL,Other,1960-03-23,1960-03-23
25,1960,1960-09-16,NC,Hurricane,1960-09-16,1960-09-16
26,1961,1961-07-23,WV,Flood,1961-07-23,1961-07-23
27,1962,1962-03-09,MD,Flood,1962-03-09,1962-03-09
28,1962,1962-10-20,WA,Severe Storm,1962-10-20,1962-10-20
29,1963,1963-03-13,WV,Flood,1963-03-13,1963-03-13
...,...,...,...,...,...,...
21746,2016,2016-03-13,LA,Flood,2016-03-08,2016-04-08
21747,2016,2016-03-19,TX,Flood,2016-03-07,2016-03-29
21748,2016,2016-03-19,TX,Flood,2016-03-07,2016-03-29
43646,2016,2016-03-19,TX,Flood,2016-03-07,2016-03-29
43647,2016,2016-03-19,TX,Flood,2016-03-07,2016-03-29
43648,2016,2016-03-25,MS,Flood,2016-03-09,2016-03-29
43649,2016,2016-03-07,VA,Snow,2016-01-22,2016-01-23
43650,2016,2016-03-25,MS,Flood,2016-03-09,2016-03-29
43651,2016,2016-04-05,OK,Fire,2016-04-05,2016-04-05
43652,2016,2016-03-13,LA,Flood,2016-03-08,2016-04-08
43653,2016,2016-03-25,MS,Flood,2016-03-09,2016-03-29
43654,2016,2016-03-25,MS,Flood,2016-03-09,2016-03-29
43655,2016,2016-03-25,MS,Flood,2016-03-09,2016-03-29
43656,2016,2016-07-15,OK,Flood,2016-06-11,2016-06-13
43657,2016,2016-08-26,KY,Severe Storm,2016-07-02,2016-07-09
43658,2016,2016-08-26,KY,Severe Storm,2016-07-02,2016-07-09
43659,2016,2016-09-16,MD,Flood,2016-07-30,2016-07-31
43660,2016,2016-09-28,FL,Hurricane,2016-08-30,2016-09-11
43661,2016,2016-09-28,FL,Hurricane,2016-08-31,2016-09-11
43662,2016,2016-09-28,FL,Hurricane,2016-08-31,2016-09-11
43663,2016,2016-09-28,FL,Hurricane,2016-08-31,2016-09-11
43664,2016,2016-09-28,FL,Hurricane,2016-08-31,2016-09-11
43665,2016,2016-09-28,FL,Hurricane,2016-08-31,2016-09-11
43666,2016,2016-09-28,FL,Hurricane,2016-08-31,2016-09-11
43667,2016,2016-09-28,FL,Hurricane,2016-08-31,2016-09-11
43668,2016,2016-09-28,FL,Hurricane,2016-08-31,2016-09-11
43669,2016,2016-09-28,FL,Hurricane,2016-08-31,2016-09-11
43670,2016,2016-09-28,FL,Hurricane,2016-08-31,2016-09-11
43671,2016,2016-09-28,FL,Hurricane,2016-08-31,2016-09-11
43672,2016,2016-09-28,FL,Hurricane,2016-08-31,2016-09-11