In [1]:
import pandas as pd

In [9]:
df =  pd.read_csv("Data/heavy_precip.csv")

In [10]:
df.head()

   Year  Index value  9-year moving average
0  1910        0.078               0.097941
1  1911        0.148               0.108855
2  1912        0.116               0.115871
3  1913        0.082               0.120289
4  1914        0.167               0.121539

In [11]:
df.dtypes

Year                       int64
Index value              float64
9-year moving average    float64
dtype: object

In [12]:
dfRange = df[(df['Year'] >= 1996) & (df['Year'] <= 2015)]
dfRange.head()

    Year  Index value  9-year moving average
86  1996        0.203               0.161148
87  1997        0.112               0.162672
88  1998        0.206               0.156371
89  1999        0.153               0.143277
90  2000        0.092               0.128430